.cta-bg {
  min-height: 50rem;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;

  @include breakpoint-down("sm") {
    background-position: 52% 21%;
    min-height: 30rem;
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__text {
    max-width: 73.5rem;

    @include breakpoint-down("sm") {
      max-width: 80%;
    }

    * {
      margin-bottom: 2rem;

      @include breakpoint-down("sm") {
        font-size: 2rem;
        line-height: 2.6rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.right {
    @include breakpoint-down("sm") {
      background-position: center left;
    }

    .cta-bg__content {
      justify-content: flex-end;

      @include breakpoint-down("sm") {
        justify-content: flex-start;
      }
    }
  }
}