<section class="cta-bg {{ section.side_text }}" {% if section.bg %}style="background-image: url({{ section.bg.url }})"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            <div class="cta-bg__content">
                <div class="cta-bg__text">
                    {{ section.text }}
                </div>
            </div>
        </div>
    </div>
</section>