body.single {
  .hero-main__title {
    * {
      color: $second-color;
    }
  }
}

.blog-post {
  overflow: hidden;
  padding-bottom: 70px;

  &__container {
    @extend .o-container;
  }

  &__content {
    margin: 40px 0 0;
    max-width: 100%;

    .wp-block-image {
      margin: 2rem 0;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .wp-block-embed {
      margin: 2rem 0;

      iframe {
        max-width: 100%;
        width: 100%;
        min-height: 66vh;
      }
    }

    .blocks-gallery-grid .blocks-gallery-image, .blocks-gallery-grid .blocks-gallery-item, .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
      margin: 0;
    }

    .blocks-gallery-grid, .wp-block-gallery {
      margin: 2rem 0;
    }

    p {
      margin-bottom: 2rem;
    }

    blockquote {
      padding-left: 2.5%;
      border-left: 1px solid $second-color;
      margin-bottom: 2rem;
    }

    ul, ol {
      list-style: disc;
      margin: 1rem 0 3rem 2rem;

      li {
        margin-bottom: 0.5rem;

        &::marker {
          color: $second-color;
        }
      }
    }

    ol {
      list-style: decimal;
    }

    h4 {
      font-size: 1.3rem;
      font-weight: 700;
    }

    h2, h3, h4 {
      margin: 40px 0 25px;
      color: inherit;
    }

    figcaption {
      font-style: italic;
      color: #999;
    }
  }

  &__footer {
    margin: 58px 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include breakpoint-down("sm") {
      flex-wrap: wrap;
    }
  }

}