.service {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 0 11rem;

  @include breakpoint-down("sm") {
    background-size: 470%;
    background-position: top;
    padding: 2rem 0 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;

    @include breakpoint-down("lg") {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    text-align: center;

    &:hover {
      background: $white;

      .service__item--title {
        color: $mint-color;
      }
    }

    &--title {
      padding: 2.2rem;
      transition: all 200ms ease-in;
    }

    &--img {
      img {
        object-fit: cover;
        max-width: unset;
        width: 100%;
      }
    }
  }
}