<section id="second" class="service" {% if section.image %}style="background-image: url({{ section.image.url }})"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
                <h2 class="title-center mint">
                    {{ section.title }}
                </h2>
            {% endif %}
            <div class="service__list">
                {% for item in section.services %}
                    <a class="service__item" {% if item.service_link.url %}href="{{ item.service_link.url }}"{% endif %}>
                        <div class="service__item--img">
                            <img src="{{ item.service_img.url|resize(270, 135) }}" alt="{{ item.service_img.alt }}" width="270" height="135">
                        </div>
                        <h3 class="service__item--title">
                            {{ item.service_title }}
                        </h3>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

</section>