.hero {
  overflow: hidden;
  width: 100%;
}

.hero-main, .hero__item {
  min-height: 55rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: $white;

  &:before {
    content: "";
    width: 29vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    z-index: 6;
  }

  @include breakpoint-down("xxl") {
    min-height: 47rem;
    background-position: center;
    background-size: cover;

    &:before {
      width: 22vw;
    }
  }

  @include breakpoint-down("xl") {
    background-size: cover;

    &:before {
      width: 10vw;
    }
  }

  @include breakpoint-down("sm") {
    min-height: 30rem;
  }

  &.homepage {
    height: calc(100vh - 12rem);

    @include breakpoint-down("sm") {
      height: 30rem;
    }
  }

  &__container {
    @extend .o-container;
    position: relative;
    z-index: 7;
    height: 100%;
  }

  &__row {
    @extend .o-grid;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__title {
    @extend .mb3;
    color: $main-color;
    text-shadow: 5px 0 4px rgba(0, 0, 0, 0.15);

    * {
      text-transform: uppercase;
    }
    span.h2 {
      line-height: 1.2;
      display: inherit;
    }
  }

  &__text {
    color: $white;
  }

  &__btn {
    @extend .mt4;
  }
}

.scroll-down {
  position: absolute;
  bottom: 9rem;
  width: 4rem;
  height: 4rem;
  display: block;
  left: calc(50% - 2rem);
  background: url("../static/images/svg/scroll.svg") center no-repeat;
  background-size: cover;

  @include breakpoint-down("sm") {
    display: none;
  }
}

.slick-list {
  padding: 0 !important;
}

.slick-arrow {
  width: 5rem;
  height: 5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 1px rgba(20, 20, 51, 0.19);
  border-radius: 50%;
  display: block;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  background-size: 2.4rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 47%;
  z-index: 20;

  &:hover {
    transform: scale(1.075);
    box-shadow: 0 0 20px 1px rgba(20, 20, 51, 0.11);
  }

  &:focus {
    outline: 0;
    background-color: $second-color;
  }

  @include breakpoint-down("lg") {
    display: none !important;
  }


  &.slick-prev {
    background-image: url("../static/images/svg/chevron-down.svg");
    background-position: center;
    left: 25px;
    transform: rotate(90deg);

    @include breakpoint-down("sm") {
      left: 10px;
    }
  }

  &.slick-next {
    background-image: url("../static/images/svg/chevron-down.svg");
    background-position: center;
    right: 25px;
    transform: rotate(-90deg);

    @include breakpoint-down("sm") {
      right: 10px;
    }
  }

}