<section class="hero">

    {% if section.show_slider %}
        <div class="js-hero">
            {% for item in section.slider %}
                <div class="hero__item {% if fn('is_front_page') %}homepage{% endif %}" style="background-image: url({{ item.bg.url }})">
                    <div class="hero-main__container">
                        <div class="hero-main__row">
                            <div class="hero-main__inner">
                                {% if item.title %}
                                    <div class="hero-main__title">
                                        {{ item.title }}
                                    </div>
                                {% endif %}

                                {% if item.text %}
                                    <p class="hero-main__text">
                                        {{ item.text }}
                                    </p>
                                {% endif %}

                                {% if item.button %}
                                    <a class="btn btn--main mt5"
                                       href="{{ item.button.url }}"{% if item.button.target %} target="{{ item.button.target }}"{% endif %}{% if item.nofollow %} rel="nofollow"{% endif %}>
                                        {{ item.button.title }}
                                    </a>
                                {% endif %}
                                {% if fn('is_front_page') %}
                                    <a href="#second" class="scroll-down"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <div class="hero-main {% if fn('is_front_page') %}homepage{% endif %}"
             style="background-image: url({{ section.bg.url }})">
            <div class="hero-main__container">
                <div class="hero-main__row">
                    <div class="hero-main__inner">
                        {% if section.title %}
                            <div class="hero-main__title">
                                {{ section.title }}
                            </div>
                        {% endif %}

                        {% if section.text %}
                            <p class="hero-main__text">
                                {{ section.text }}
                            </p>
                        {% endif %}

                        {% if section.button %}
                            <a class="btn btn--main mt5"
                               href="{{ section.button.url }}"{% if section.button.target %} target="{{ section.button.target }}"{% endif %}{% if section.nofollow %} rel="nofollow"{% endif %}>
                                {{ section.button.title }}
                            </a>
                        {% endif %}
                        {% if fn('is_front_page') %}
                            <a href="#second" class="scroll-down"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
