.text-icon {
  padding: 6rem 0;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  &__wrapper {
    width: 100%;
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
      column-gap: 1rem;
    }

    > * {
      align-self: center;
    }
  }

  &__col {
    p {
      margin-bottom: 1.6rem;
    }
  }

  &__list {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;

    &-text {
      margin-top: 2rem;

      * {
        font-weight: $font-600;
      }
    }
  }
}