<section class="text-icon" {% if section.bg_color %}style="background:{{ section.bg_color }}" {% endif %}>
    <div class="o-container">
        <div class="title-center">
            {{ section.title }}
        </div>
        <div class="text-icon__wrapper">
            <div class="text-icon__col">{{ section.text }}</div>
            <div class="text-icon__col">
                <div class="text-icon__list">
                    {% for item in section.icon %}
                        <div class="text-icon__item">
                            <img src=" {{ item.icon_img.url }}" alt=" {{ item.icon_img.alt }}">
                            <div class="text-icon__item-text">
                                {{ item.text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>