.text-button {
  padding: 8rem 0 5rem;

  @include breakpoint-down("sm") {
    padding: 2rem 0 3rem;
  }

  &__content {
    p {
      margin-bottom: 1.8rem;
    }
  }

  .title-left > * {
    text-transform: uppercase;
  }
}
