<section class="text-button" {% if section.bg_color %}style="background-color: {{ section.bg_color }}"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
                <div class="title-left mint">
                    {{ section.title }}
                </div>
            {% endif %}
            {% if section.text %}
                <div class="text-button__content">
                    {{ section.text }}
                </div>
            {% endif %}
            {% if section.button %}
                <a href="{{ section.button.url }}" class="btn btn--main mt5"{% if section.button.target %} target="{{ section.button.target }}"{% endif %}{% if section.nofollow %} rel="nofollow"{% endif %}>
                    {{ section.button.title }}
                </a>
            {% endif %}
        </div>
    </div>
</section>