<a href="/" title="home">
  {% if site.logo.src != null %}
    <img class="" src="{{site.logo.src}}" alt="{{site.name}}" width="218" height="53">
  {% else %}
    <span class="">{{site.name}}</span>
  {% endif %}
</a>
