.full-text {
  padding: 6rem 0;

  &__wrapper {
    h2, h3 {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;
      text-align: left;
      margin-bottom: 4rem;

      &:after {
        content: '...';
        font-size: 4.2rem;
        line-height: 1;
        margin-top: -2rem;
        color: $mint-color;
      }
    }

    p {
      margin-bottom: 1.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}