<section class="full-text" {% if section.bg_color %} style="background: {{ section.bg_color }}" {% endif %}>
    <div class="o-container">
        <div class="full-text__wrapper">
            {{ section.text }}
        </div>
    </div>
</section>