.nav-sub {
  $self: &;
  @extend .pt4;
  @extend .pr4;
  @extend .pl4;
  @extend .pb2;
  position: absolute;
  opacity: 0;
  display: none;
  flex-direction: column;
  top: 100%;
  left: 0;
  z-index: 10;

  li:hover > & {
    display: flex;
    background: $white;
    border-top: 1px solid $second-color;

    a {
      color: $main-color;
    }
  }

  &::before {
    @include pseudo;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    top: -6px;
    left: 24px;
  }

  #{ $self } & {
    all: unset;
    padding-left: 8px!important;
    margin-top: 2px;
    margin-bottom: 16px!important;
    display: flex;
    flex-direction: column;

    #{ $self } & {
      margin-bottom: 0!important;
    }



    &::before {
      all: unset;
    }
  }


  &__item {
    $self: &;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: .8rem;

    #{ $self } & {
      all: unset;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    a {
      display: block;
      width: 23rem;

      @include breakpoint-down("md") {
        width: auto;
      }

      &:hover {
        color: $mint-color;
      }
    }
  }

}
