<ul class="nav-sub {{ class }}">
  {% for item in item.children %}
    <li class="nav-sub__item">
      <a href="{{ item.link ? item.link : ' ' }}" class="nav-sub__link {{item.classes | join(' ')}}">
        {{ item.title }}
      </a>
      {% if item.children %}
        <button class="arrow-bottom desktop"></button>
        {% include "nav-sub/nav-sub.twig" with {'items': item.children, 'class': ''} %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
