{% extends 'base.twig' %}

{% block body %}

    {% if post.meta('homepage') %}
        {% for section in post.meta('homepage') %}
            {% include section.acf_fc_layout ~ '/' ~ section.acf_fc_layout ~ '.twig' %}
        {% endfor %}
    {% else %}
        <div class="o-container pt5 mb8">
            {{ post.content }}
        </div>

    {% endif %}
{% endblock %}
