.service-list {

  &__column {
    display: flex;
    flex-flow: column;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 0 0 7rem;
    margin: 3rem 0;

    @include breakpoint-down("sm") {
      flex-flow: column;
      padding: 0;
    }

    &:nth-child(even) {
      flex-flow: row-reverse;
      padding: 0 7rem 0 0;
      margin: 3rem 0;

      @include breakpoint-down("sm") {
        flex-flow: column;
        padding: 0;
      }
    }

    &--img {
      width: 37rem;

      @include breakpoint-down("sm") {
        width: 100%;
        margin-bottom: 1.8rem;
        overflow: hidden;
        height: 50vh;

        img {
          width: 100%;
          max-width: unset;
        }
      }

      @include breakpoint-down("xs") {
        height: auto;
      }
    }

    &--content {
      width: calc(100% - 37rem);
      padding-left: 2rem;

      @include breakpoint-down("sm") {
        width: 100%;
        padding-left: 0;
      }
    }

    .btn--link {
      font-weight: $font-700;
      letter-spacing: 0.15px;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      transition: all 300ms ease-in;

      &:after {
        content: "";
        display: inline-flex;
        width: 2.2rem;
        height: 2.8rem;
        background-color: $main-color;
        -webkit-mask-image: url("../static/images/svg/chevron-right.svg");
        -webkit-mask-position: center;
        -webkit-mask-size: 2.2rem;
        -webkit-mask-repeat: no-repeat;
      }

      &:hover {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}