<section class="service-list">
    <div class="o-container">
        <div class="o-row">
            <div class="title-left mint">
                {{ section.title }}
            </div>
            <div class="service-list__text">
                {{ section.text }}
            </div>
            <div class="service-list__column">
                {% for item in section.column %}
                    <div class="service-list__item">
                        <div class="service-list__item--img">
                            <img src="{{ item.column_img.url }}" alt="">
                        </div>
                        <div class="service-list__item--content">
                            <div class="title-left mint">
                                <h3>{{ item.column_title }}</h3>
                            </div>
                            {{ item.column_text }}
                            <a href="{{ item.column_link.url }}" class="btn btn--link">{{ item.column_link.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>