{% extends 'base.twig' %}

{% block body %}

    <section class="hero-main" style="background-image: url({{ post.thumbnail.src }})">
        <div class="hero-main__container">
            <div class="hero-main__row">
                <div class="hero-main__inner">
                    <div class="hero-main__title">
                        <h1 style="color:#F6BB92">{{ post.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="two-column">
        <div class="o-container">
            <div class="o-row">
                <div class="two-column__wrapper">
                    {% for item in post.meta('column') %}
                        <div class="two-column__item">
                            {{ item.text }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="post-list">
        <div class="o-container">
            <div class="o-row">
                <div class="post-list__container">
                    {% for post in posts %}
                        {% include "/blog/loop-element/loop-element.twig" %}
                    {% endfor %}
                    {% if posts.pagination.pages %}
                        {% include "/blog/pagination/pagination.twig" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}