.contact {
  padding: 4rem 0;

  &__wrapper {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
      column-gap: 2rem;
    }

    .footer__contact--list {
      margin-top: 2rem;
    }

    .top__icon {
      margin-bottom: 2rem;
    }
  }
}