<section class="contact">
    <div class="o-container">
        {% if section.title %}
            {{ section.title }}
        {% endif %}
        <div class="contact__wrapper">
            <div class="contact__col">
                {{ section.text }}
                <div class="footer__contact--list">
                    {% if options.phone %}
                        <div class="top__phone top__icon">
                            <a href="tel:+48{{ options.phone|replace({' ':''}) }}">{{ options.phone }}</a>
                        </div>
                    {% endif %}
                    {% if options.email %}
                        <div class="top__email top__icon">
                            <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                        </div>
                    {% endif %}
                    {% if options.address %}
                        <div class="top__address top__icon">{{ options.address }}</div>
                    {% endif %}
                    {% if options.hours_open %}
                        <div class="top__hours top__icon">{{ options.hours_open }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="contact__col">
                {{ section.form }}
            </div>
        </div>
    </div>
</section>