.text-list {
  padding: 6rem 0;
  margin: 2rem 0;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  &__wrapper {
    background: $light-bg;
    padding: 4rem 0;
  }

  &__content {
    margin-bottom: 3rem;

    * {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .title-left > * {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    text-align: left;
    margin-bottom: 4rem;
    font-size: 3.6rem;

    &:after {
      content: '...';
      font-size: 4.2rem;
      line-height: 1;
      margin-top: -2rem;
      color: $light-color;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-down("sm") {
      flex-flow: column;
    }

    &.items-columns {
      .text-list__item {
        flex-flow: column;

        &--title, &--text {
          width: 100%;
          padding: 0 1rem 0 0;
        }
      }
    }
  }

  &__item {
    display: flex;
    width: calc(100% / 3 - 1rem);

    @include breakpoint-down("sm") {
      width: 100%;
      margin-bottom: 2rem;
    }

    &--title {
      width: 26%;
      @extend .h4;
    }

    &--text {
      width: 74%;
      padding: 0 0.5rem;
    }

    &:nth-child(2n), &:nth-child(3n) {
      .text-list__item--title {
        padding-left: 0.5rem;

        @include breakpoint-down("sm") {
          padding-left: 0;
        }
      }
    }
  }
}