<section class="text-list" {% if section.bg_color %}style="background-color: {{ section.bg_color }}"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            <div class="title-left main">
                {{ section.title }}
            </div>
            <div class="text-list__content">
                {{ section.text }}
            </div>
        </div>
    </div>
    <aside class="text-list__wrapper">
        <div class="o-container">

            <div class="text-list__list {% if section.choose_list %}items-columns{% endif %}">
                {% for item in section.list %}
                    <div class="text-list__item">
                        <div class="text-list__item--title">
                            {{ item.list_title }}
                        </div>
                        <div class="text-list__item--text">
                            {{ item.list_text }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </aside>
</section>


