.steps {
  padding: 8rem 0;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  &__title {
    @extend .title-left;

    h2 {
      &:after {
        color: $mint-color;
      }
    }
  }

  &__text {
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    position: relative;

    @include breakpoint-down("sm") {
      flex-flow: column;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: .2rem;
      background: $light-color;

      @include breakpoint-down("sm") {
        width: 100%;
      }
    }

    &--title {
      width: 30%;

      @include breakpoint-down("sm") {
        width: 100%;
      }
    }

    &--text {
      width: 70%;
      padding-left: 4rem;

      @include breakpoint-down("sm") {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
      }

      p {
        margin-bottom: 1.8rem;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}