<section class="steps" {% if section.bg_color %}style="background: {{ section.bg_color }}" {% endif %}>
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
            <div class="steps__title">
                {{ section.title }}
            </div>
            {% endif %}
            {% if section.text %}
                <div class="steps__text">
                    {{ section.text }}
                </div>
            {% endif %}
            <div class="steps__list">
                {% for item in section.element %}
                    <div class="steps__item">
                        <div class="steps__item--title">
                            {{ item.element_title }}
                        </div>
                        <div class="steps__item--text">
                            {{ item.element_text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>