.header {
  position: fixed;
  width: 100%!important;
  top: 0;
  transition: 0.3s;
  z-index: 10;
  background: $white;

  &--scroll-down {
    @include breakpoint-down("md") {
      transform: translateY(-85px);
    }
  }

  &--scroll-up {
    @include breakpoint-down("md") {
      transform: translateY(-85px);
    }
  }


  &--scroll {
    background-color: $white;
  }

  &__hamburger {
    display: none;

    @include breakpoint-down("md") {
      display: block;
    }
  }

  &__container {
    @extend .o-container;
    @extend .py1;
  }

  &__row {
    @extend .o-grid;
    justify-content: space-between;
    align-items: stretch;
  }

  &__logo {
    position: relative;

    a {
      display: block;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  &__nav {
    @extend .px3;
    display: flex;

    @include breakpoint-down("md") {
      display: none;
    }
  }
}
