.btn {
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  border-radius: 4.3rem;
  letter-spacing: 0.2em;
  line-height: 1;
  transition: all 300ms ease-in;

  &--main {
    color: $white;
    background-color: $second-color;

    &:after {
      content: "";
      display: inline-flex;
      width: 2.2rem;
      height: 2.8rem;
      background-color: $white;
      -webkit-mask-image: url("../static/images/svg/chevron-right.svg");
      -webkit-mask-position: center;
      -webkit-mask-size: 2.2rem;
      -webkit-mask-repeat: no-repeat;
    }

    &:hover {
      background: $white;
      color: $second-color;
      box-shadow: 0 6px 4px rgba(191, 137, 90, 0.3);

      &:after {
        background-color: $black;
      }
    }

    &.white {
      color: $second-color;
      background-color: $white;

      &:after {
        background-color: #F2F2F2;
      }

      &:hover {
        background: $second-color;
        color: $white;
        box-shadow: 0 6px 4px rgba(191, 137, 90, 0.3);

        &:after {
          background-color: $white;
        }
      }
    }
  }
}
