
//create container and grid
@include create-container('o-container', $container-sizes, 20px);
@include create-grid('o-grid', 12, 20px);

// @param {String} $breakpoint - Breakpoint name
// @require $breakpoints
@mixin breakpoint-up($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin breakpoint-down($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (max-width: map-get($breakpoints, $breakpoint) - 1) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}



@mixin absolute-center() {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin h-color($color) {
  &:hover {
    transition: 0.2s!important;
    transition-property: color!important;
    will-change: color!important;
    color: $color!important;
  }
}

@mixin h-bg-color($bgcolor, $color) {
  &:hover {
    transition: 0.3s!important;
    transition-property: background-color!important;
    will-change: background-color!important;
    background-color: $bgcolor!important;
    color: $color!important;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin aria-hidden() {
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}
