$breakpoints: (
        xs: 576px,
        sm: 769px,
        md: 992px,
        lg: 1200px,
        xl: 1440px,
        xxl: 1560px,
        fhd: 1920px,
);

$container-sizes: (
        xs: 100%,
        sm: 576px,
        md: 95%,
        lg: 90%,
        xl: 1200px,
        xxl: 1200px,
        fhd: 1200px,
);

//margin-padding
$spaces: (
        1: 0.4rem,
        2: 0.8rem,
        3: 1.6rem,
        4: 2.4rem,
        5: 3.2rem,
        6: 4.8rem,
        7: 6.4rem,
        8: 8rem,
        9: 12rem,
        10: 16rem,
);


// font
$primary-font-family: 'Barlow', sans-serif;
$second-font-family: 'Barlow Condensed', sans-serif;
$font-400: 400;
$font-600: 600;
$font-700: 700;
$font-800: 800;

//colors
$main-color: #592E25;

$second-color: #BF895A;
$light-color: #BF9B85;
$mint-color: #36A1A5;
$darkmint-color: #36A1A5;
$light-bg: #FEF5ED;
$footer-bg: #F5F5F5;

$black: #252525;
$white: #fff;

