.top {
  border-bottom: 1px solid #C4C4C4;
  padding: 0.8rem 0;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    display: flex;
    margin-right: 2.6rem;
    text-transform: uppercase;

    &:before {
      content: "";
      display: inline-flex;
      width: 1.8rem;
      height: 1.8rem;
      background-size: 1.6rem;
      background-repeat: no-repeat;
      background-position: center;
      margin: .5rem 0.6rem 0 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint-down("sm") {
      font-size: 1.1rem;
      margin-right: 1rem;
    }

    a {
      &:hover {
        color: $main-color;
      }
    }
  }

  &__phone {
    &:before {
      background-image: url("../static/images/svg/phone.svg");
    }
  }

  &__email {
    &:before {
      background-image: url("../static/images/svg/email.svg");
    }
  }

  &__address {
    &:before {
      background-image: url("../static/images/svg/place.svg");
    }
  }

  &__hours {
    &:before {
      background-image: url("../static/images/svg/timer.svg");
    }
  }
}