<div class="top">
    <div class="o-container">
        <div class="o-row">
            <div class="top__wrapper">
                {% if options.phone %}
                    <div class="top__phone top__icon">
                        <a href="tel:+48{{ options.phone|replace({' ':''}) }}">{{ options.phone }}</a>
                    </div>
                {% endif %}
                {% if options.email %}
                    <div class="top__email top__icon">
                        <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>