<footer class="footer">
    <div class="footer__container">

        <div class="footer__info">
            {% include 'logo/logo.twig' %}
            <div class="footer__info--text">
                {{ options.description }}
            </div>
            {% include 'footer-socials/footer-socials.twig' %}
        </div>

        <div class="footer__menu">
            <div class="footer__label">{{ __('Nasze usługi', 'speed-parkiet') }}</div>
            {% include 'nav-footer/nav-footer.twig' %}
        </div>

        <div class="footer__contact">
            <div class="footer__label">{{ __('Kontakt', 'speed-parkiet') }}</div>
            <div class="footer__contact--list">
                {% if options.phone %}
                    <div class="top__phone top__icon">
                        <a href="tel:+48{{ options.phone|replace({' ':''}) }}">{{ options.phone }}</a>
                    </div>
                {% endif %}
                {% if options.email %}
                    <div class="top__email top__icon">
                        <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                    </div>
                {% endif %}
                {% if options.address %}
                    <div class="top__address top__icon">{{ options.address }}</div>
                {% endif %}
                {% if options.hours_open %}
                    <div class="top__hours top__icon">{{ options.hours_open }}</div>
                {% endif %}
            </div>
        </div>

    </div>

</footer>
<div class="copyright">
    <div class="copyright__wrapper">
        <p>{{ __('Projekt i realizacja:', 'speed-parkiet') }}
            <a title="Agencja reklamowa Haiku Studio" href="https://haiku.com.pl/" target="_blank" rel="nofollow">
                {{ __('Agencja reklamowa Haiku Studio', 'speed-parkiet') }}
            </a>
        </p>
    </div>
</div>
