.footer {
  padding: 6rem 0;
  color: #4B4B4B;
  background: $footer-bg;
  font-size: 1.6rem;

  @include breakpoint-down("sm") {
    padding: 2rem 0;
  }

  p {
    color: #4B4B4B;
    font-size: 1.6rem;
  }


  &__container {
    @extend .o-container;
    display: flex;
    flex-wrap: wrap;
  }

  &__info  {
    @extend .md-4;
    @extend .mb3;
    min-height: 190px;
    width: 35%;

    @include breakpoint-down("lg") {
      width: 45%;
    }

    @include breakpoint-down("xs") {
      width: 100%;
    }

    &--text {
      margin-top: 1rem;
    }
  }

  &__menu {
    @extend .md-4;
    @extend .mb3;
    min-height: 190px;
    width: 41%;

    @include breakpoint-down("lg") {
      padding-left: 5%;
      width: 55%;
    }

    @include breakpoint-down("sm") {
      display: none;
    }
  }

  &__contact {
    width: 24%;

    @include breakpoint-down("lg") {
      width: 100%;
    }

    @include breakpoint-down("sm") {
      width: 45%;
      padding-left: 5%;
    }

    @include breakpoint-down("xs") {
      width: 100%;
      padding-left: 0;
    }
  }

  &__label {
    @extend .mb4;
    display: flex;
    @extend .h4;
    color: #4B4B4B;
    font-weight: $font-700;
  }

  .top {
    &__icon {
      margin-bottom: 1.9rem;
      margin-right: 0;
      text-transform: none;

      &:before {
        margin: .5rem 1.6rem 0 0;
      }
    }
  }
}

.copyright {
  background: $mint-color;

  &__wrapper {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    justify-content: flex-end;
    padding: 2.2rem 0;

    * {
      color: $white;
      font-size: 1.2rem;
    }

    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}