.fullwidth-text {

  &.right {
    .fullwidth-text__wrapper {
      flex-flow: row-reverse;

      @include breakpoint-down("lg") {
        flex-flow: column;
      }
    }

    .fullwidth-text__content {
      justify-content: flex-end;
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include breakpoint-down("lg") {
      flex-flow: column;
    }
  }

  &__content {
    width: 62%;

    @include breakpoint-down("lg") {
      width: 100%;
    }
  }

  &__image {
    object-fit: cover;
    max-width: 50%;

    @include breakpoint-down("lg") {
      max-width: 100%;
    }
  }

  &__img {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    flex-wrap: wrap;
    overflow: hidden;

    @include breakpoint-down("lg") {
      height: 60vh;
      width: 100%;
    }

    @include breakpoint-down("xs") {
      height: auto;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      max-width: unset;

      @include breakpoint-up("lg") {
        width: auto;
        height: 100%;
      }
    }
  }

  &__content {

    &-wrapper {
      max-width: 67.5rem;
      width: 100%;
      padding: 1.5rem 3rem;

      @include breakpoint-down("lg") {
        max-width: 100%;
      }
    }
  }

  &__descr {
    p {
      margin-bottom: 1.2rem;
    }
  }
}