<section class="fullwidth-text {{ section.side_img }}"
         {% if section.bg_color %}style="background: {{ section.bg_color }}"{% endif %} {% if show_padding %} style="padding-top:{{ section.padding_top }}px; padding-bottom:{{ section.padding_bottom }}px;"{% endif %}>
    <div class="fullwidth-text__wrapper">
        <div class="fullwidth-text__img">
            <img class="fullwidth-text__image" src="{{ section.img.url }}" alt="{{ section.img.alt }}" width="{{ section.img.width }}" height="{{ section.img.height }}">
        </div>
        <div class="fullwidth-text__content">
            <div class="fullwidth-text__content-wrapper">
                {% if section.title %}
                    <div class="title-left mint">
                        {{ section.title }}
                    </div>
                {% endif %}
                <div class="fullwidth-text__descr">
                    {{ section.text }}
                </div>
            </div>
        </div>
    </div>
</section>