.quote-bg {
  min-height: 40rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  &__text {
    * {
      text-align: center;
      color: $white;
      font-size: 3.2rem;
      line-height: 1.2;

      @include breakpoint-down("xs") {
       font-size: 2.5rem;
      }
    }

    a {
      text-decoration: underline;
      font-weight: $font-600;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}