<section class="quote-bg" {% if section.bg %}style="background-image: url({{ section.bg.url }})"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            <div class="quote-bg__text">
                {{ section.text }}
            </div>
            {% if section.button %}
                <div class="quote-bg__center">
                    <a href="{{ section.button.url }}" class="btn btn--main white"{% if section.button.target %} target="{{ section.button.target }}"{% endif %}{% if section.nofollow %} rel="nofollow"{% endif %}>
                        {{ section.button.title }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>