.nav-main {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $white;
  align-items: stretch;

  @include breakpoint-down("md") {
    flex-flow: column;
  }

  &__item {
    display: flex;
    align-items: center;
    color: #000;
    margin-right: 2.9rem;
    font-size: 1.6rem;
    text-transform: uppercase;

    @include breakpoint-down("lg") {
      margin-right: 1.4rem;
      font-size: 1.4rem;
    }

    &--has-children {
      position: relative;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;

    &[href]:hover, &.current-menu-item {
      color: $mint-color;
    }
  }

  &--contact {
    .nav-main__item {
      margin-right: 20px;
    }

    .nav-sub {
      display: none !important;
    }

  }

  &--lng {
    .nav-main__item {
      margin-right: 0;
    }
  }

  .chevron-down {
    -webkit-mask-image: url("../static/images/svg/chevron-down.svg");
    width: 24px;
    height: 14px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 18px;
    -webkit-mask-position: center;
    background-color: $black;

    @include breakpoint-down("md") {
      background-color: $white;
    }
  }
  .arrow-bottom {
    margin-left: 4px;
    width: 2.4rem;
    height: 1.4rem;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    background-color: $black;
    -webkit-mask-image: url("../static/images/svg/chevron-down.svg");
    -webkit-mask-position: center;
    display: none;
    transition: all 300ms ease-out;

    @include breakpoint-down("md") {
      background-color: $white;
    }

    &:not(.desktop) {
      display: block;
    }

    &.active {
      transform: rotate(180deg);
      transition: all 300ms ease-out;
      background-color: #FF9A08;
    }

    @include breakpoint-down("md") {
      margin-left: .8rem;
      width: 2rem;
      height: 1.8rem;
      -webkit-mask-size: 1.6rem;
      display: block;
    }
  }
}
