.icons {
  @extend .py8;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint-down("xs") {
      flex-flow: column;
    }
  }

  &__item {
    width: calc(100% / 5);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 0 1.6rem;

    @include breakpoint-down("xs") {
      width: 100%;
      margin-bottom: 2rem;
    }

    &--img {
      margin-bottom: 2.5rem;
    }

    &--text {
      letter-spacing: 0.15px;
      font-size: 1.6rem;
    }
  }
}