.form {

  &__column {
    display: flex;
  }

  &__sect {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-right: 1rem;
    width: calc(100% / 2 - 1rem);

    &.full {
      width: 100%;
    }

    input[type=text], input[type=email], input[type=tel], textarea {
      background: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: .1rem $second-color solid;
      padding: 1.4rem 0 1rem 1.2rem;
      color: #5C6077;
      width: 100%;

      &::placeholder {
        color: #5C6077;
      }

      &:focus {
        padding: 1.4rem 0 1rem 1.2rem;
        border: .1rem $second-color solid;
        border-radius: 1rem;
        outline: none;
        background: #fff;
      }
    }

    label {
      margin-left: 1rem;
      position: relative;
      top: 0.6em;
      z-index: 2;
      width: fit-content;
      background: #fff;
      color: #C4C4C4;
    }

    textarea {
      height: 16rem;
    }
  }

  .btn__submit {
    @extend .btn;
    @extend .btn--main;
    margin-top: 1.6rem;
  }
}

span.wpcf7-list-item {
  display: inline-block;
  margin: 0;
}

.wpcf7 .wpcf7-list-item {
  display: flex;
  margin-bottom: 10px;
}

.wpcf7-acceptance label {
  position: relative;
  cursor: pointer;
}

.wpcf7-acceptance input[type=checkbox] {
  /*position: relative;*/
  position: absolute;
  visibility: hidden;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
}

.wpcf7-acceptance input[type=checkbox] + span {
  /* border: 3px solid red; */
}

.wpcf7-acceptance input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  height: 2rem;
  width: 2rem;
  top: .9rem;
  left: 0;
  border: 1px solid $second-color;
  border-radius: 5px;
}

.wpcf7-acceptance input[type=checkbox] + span:after {
  display: block;
  position: absolute;
  content: "";
  background: url("../static/images/svg/check.svg") center no-repeat;
  background-size: 1.8rem;
  height: 2rem;
  width: 2rem;
  top: .9rem;
  left: 0;
  visibility: hidden;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
}

.wpcf7-acceptance input[type=checkbox]:checked + span:before {
  background: rgba(191, 137, 90, 0.3);
}

.wpcf7-acceptance input[type=checkbox]:checked + span:after {
  visibility: visible;
}

.wpcf7-list-item-label {
  margin-left: 2.4rem;
  display: inline-block;
  color: $black;
  padding-top: .5rem;

  a {
    color: $second-color;
  }
}