@mixin spaces-classes($spaces) {
    @each $index, $space in $spaces {
        .m#{$index}  {margin: $space;}
        .ml#{$index} {margin-left: $space;}
        .mr#{$index} {margin-right: $space;}
        .mt#{$index} {margin-top: $space;}
        .mb#{$index} {margin-bottom: $space;}
        .mx#{$index} {margin-left: $space; margin-right: $space;}
        .my#{$index} {margin-top: $space; margin-bottom: $space;}
        
        .p#{$index} {padding: $space;}
        .pl#{$index} {padding-left: $space;}
        .pr#{$index} {padding-right: $space;}
        .pt#{$index} {padding-top: $space;}
        .pb#{$index} {padding-bottom: $space;}
        .px#{$index} {padding-left: $space; padding-right: $space;}
        .py#{$index} {padding-top: $space; padding-bottom: $space;}
    }
  }

  @include spaces-classes($spaces);