html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.7rem;
  color: $black;
  background-color: $white;
}

h1, .h1 {
  font-family: $second-font-family;
  font-size: 14.4rem;
  font-weight: $font-800;
  line-height: 13rem;
  color: $black;

  @include breakpoint-down("sm") {
    font-size: 4.8rem;
    line-height: 4.5rem;
  }
}

h2, .h2 {
  font-family: $second-font-family;
  font-size: 4.2rem;
  font-weight: $font-700;
  line-height: 4.8rem;
  color: $black;

  span {
    display: contents;
  }
}

h3, .h3 {
  font-family: $second-font-family;
  font-size: 3.6rem;
  font-weight: $font-600;
  line-height: 3.6rem;
  color: $black;

  span {
    display: contents;
  }
}

h4, .h4 {
  font-family: $second-font-family;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: $font-600;
  color: $black;
}

h5, .h5 {
  font-family: $second-font-family;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: $font-600;
  color: $black;
}

h6, .h6 {
  font-family: $second-font-family;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: $font-600;
  color: $black;
}

p, .p {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-weight: $font-400;
  line-height: 2.4rem;
  color: $black;

  a {
    color: $second-color;
    text-decoration: underline;
    font-weight: 600;
  }
}

b, strong {
  font-weight: $font-600;
}


.text-big {
  font-family: $primary-font-family;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}

.text-small {
  font-family: $primary-font-family;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: normal;
  color: $black;
}

.caption {
  font-family: $primary-font-family;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.166667;
  color: $black;
}

.link {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-weight: $font-700;
  line-height: 2.4rem;
  text-decoration-line: underline;
  color: $second-color;
}

.title-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  margin-bottom: 4rem;

  &:after {
    content: '...';
    font-size: 4.2rem;
    line-height: 1;
    margin-top: -2rem;
    color: $second-color;
  }

  &.mint {
    &:after {
      color: $mint-color;
    }
  }
}

.title-left {
  h2, h3 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    text-align: left;
    margin-bottom: 4rem;

    span {
      display: contents;
    }

    &:after {
      content: '...';
      font-size: 4.2rem;
      line-height: 1;
      margin-top: -2rem;
      color: $light-color;
    }
  }

  &.mint {
    h2, h3 {
      &:after {
        color: $mint-color;
      }
    }
  }
}

ul.custom-ul {
  margin: 2rem 0;

  li {
    display: grid;
    column-gap: .8rem;
    grid-template-columns: 1.4rem 1fr;
    align-self: center;

    &:before {
      background-image: url("../static/images/svg/arrow-forward.svg");
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      display: inline-grid;
      background-size: 1.1rem;
      background-repeat: no-repeat;
      background-position: center;
      align-self: center;
      justify-self: center;
    }
  }
}
