.row-text {
  &.right {
    .row-text__wrapper {
      flex-flow: row-reverse;

      @include breakpoint-down("sm") {
        flex-flow: column;
      }
    }

    .row-text__content {
      justify-content: flex-end;
      display: flex;
      flex-flow: column;
    }
  }

  .o-container {
    @include breakpoint-down("sm") {
      padding: 0;
    }
  }


  &__wrapper {
    display: flex;
    align-items: center;

    @include breakpoint-down("sm") {
      flex-flow: column;
    }
  }

  &__img {
    width: 45%;

    @include breakpoint-down("sm") {
      width: 100%;
      margin-bottom: 2rem;
    }

    img {
      width: 100%;
      height: auto;

      @include breakpoint-down("sm") {
        object-fit: cover;
      }
    }
  }

  &__content {
    @extend .title-left;
    width: 55%;
    padding-left: 5rem;

    @include breakpoint-down("sm") {
      width: 100%;
      padding: 0 2rem;
    }

    p {
      margin-bottom: 1.6rem;
    }
  }

}