<section class="row-text {{ section.side_img }}"
         {% if section.bg_color %}style="background: {{ section.bg_color }}"{% endif %} {% if show_padding %}style="padding-top:{{ section.padding_top }};padding-bottom:{{ section.padding_bottom }};"{% endif %}>
    <div class="o-container">
        <div class="row-text__wrapper">
            <div class="row-text__img">
                <img src="{{ section.img.url }}" alt="{{ section.img.alt }}">
            </div>

            <div class="row-text__content">
                {{ section.title }}
                {{ section.text }}
            </div>
        </div>
    </div>
</section>