.nav-footer {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 18rem;

  &__item {
    display: flex;
    margin-bottom: 12px;
  }

  &__link {
    @include h-color($main-color);
    font-weight: $font-600;
  }
}
