html {
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  position: relative;

  &.admin-bar {
    margin-top: 32px;
  }
}

* {
  box-sizing: border-box;
}

a[href] {
  cursor: pointer;
}

.o-container {
  @include breakpoint-down("sm") {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#main {
  margin-top: 10.4rem;
}