.two-column {
  padding: 3rem 0 8rem;

  @include breakpoint-down("sm") {
    padding: 3rem 0 4rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 58%;
    padding-left: 7rem;

    @include breakpoint-down("sm") {
      width: 100%;
      padding-left: 0;
      margin-bottom: 2rem;
    }

    &:first-child {
      width: 42%;
      padding-left: 0;

      @include breakpoint-down("sm") {
        width: 100%;
      }
    }

    p {
      font-size: 1.6rem;
      letter-spacing: 0.15px;
      margin-bottom: 1.4rem;
    }

    ul {
      @extend .custom-ul;
    }
  }
}