<section class="two-column">
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
                <div class="title-left mint">
                    <h2>{{ section.title }}</h2>
                </div>
            {% endif %}
            <div class="two-column__wrapper">
                {% for item in section.column %}
                    <div class="two-column__item">
                        {{ item.text }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>